
<form action="/answer" data-turbo="false">
<div class="input-group">
  <div class="form-outline">
  <input class="form-control" type="text" name="question" placeholder="type your question here">
  </div>
  <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
